[Bb]in/
[Oo]bj/

/uchat.exe
/uchat
/uchat.dll
/uchat.pdb
/uchat.runtimeconfig.json
/uchat.deps.json
/uchat_server.exe
/uchat_server
/uchat_server.dll
/uchat_server.pdb
/uchat_server.runtimeconfig.json
/uchat_server.deps.json
/Uchat.Shared.dll
/Uchat.Shared.pdb
/Uchat.Shared.deps.json

/*.dll
!src/**/*.dll

/cs/
/de/
/es/
/fr/
/it/
/ja/
/ko/
/pl/
/pt-BR/
/ru/
/tr/
/zh-Hans/
/zh-Hant/
/runtimes/

.vs/
.vscode/
*.user
*.suo
*.userprefs
*.launchsettings.json

*.db
*.sqlite
*.log
*.mdf
*.ldf

Storage/

appsettings.Development.json

secrets.json

.DS_Store
Thumbs.db

.nuget/
packages/
*.nupkg
*.snupkg
project.assets.json

*.tmp
*~